:root {
  --primary-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --button-text-color: #ffffff;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --primary-font-family: "Roboto", sans-serif;
  --item-grid-gap: 30px;
  --header-items-gap: 50px;
  --svg-primary-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

body {
  color: #212121;
  background-color: #ffffff;
  font-family: var(--primary-font-family);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.item {
  display: block;
}

.btn {
  cursor: pointer;
}

.section-title,
.services__title,
.team__title,
.clients__title,
.portfolio__title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

@-webkit-keyframes slide-top {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes slide-top {
  from {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@-webkit-keyframes scaler {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaler {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}

/*
  ============================
         Header section
  ============================
*/
/* =====  HEADER  ===== */
.header {
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  position: relative;
}

.header__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}

.header-line {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-13.5%);
          transform: translateX(-13.5%);
  width: 1600px;
  height: 0;
  border-bottom: 1px solid #ececec;
  z-index: 4;
}

/* =====  LOGO  ===== */
.header__logo {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header__logo--accent {
  color: #2196f3;
}

/* =====  NAVIGATION  ===== */
.navigation__list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.navigation__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 50%;
  bottom: 50%;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--primary-color);
}

.navigation__link--current {
  color: var(--primary-color);
}
.navigation__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* =====  CONTACTS  ===== */
.header-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 50px;
}

.header-contacts__item {
  display: block;
}

.header-contacts__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--secondary-text-color);
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--primary-color);
  fill: var(--primary-color);
}

/*
  ============================
           Modal Form
  ============================
*/
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  z-index: 14;
}

.button__close-icon {
  fill: #000000;
  display: block;
}

.modal__button:hover .button__close-icon {
  fill: var(--primary-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: revert;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-animation-name: scaler;
          animation-name: scaler;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.overlay {
  position: fixed;
  top: 0;
  z-index: 5;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-animation-name: scaler;
          animation-name: scaler;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.modal__title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  z-index: 13;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.form__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  gap: 4px;
  z-index: 12;
  color: #757575;
}

.form__input {
  background: transparent;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  min-height: 40px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  -webkit-transition: var(--animation);
  transition: var(--animation);
}
.form__input:hover {
  border: 1px solid var(--primary-color);
}
.form__input:focus {
  border: 1px solid var(--main-color);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--primary-color);
}

.comment-input {
  padding-left: 11px;
  resize: none;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.privacy-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  margin-bottom: 30px;
  z-index: 10;
}

.privacy-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background: transparent;
  color: #757575;
  margin-right: auto;
  margin-left: auto;
  gap: 3px;
  cursor: pointer;
}

.privacy__input {
  display: block;
  resize: none;
  opacity: 0;
  height: 0;
  width: 0;
}

.privacy__link {
  text-decoration: underline;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.privacy__check-icon {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  display: none;
  z-index: 11;
  -webkit-transition: display var(--animation);
  transition: display var(--animation);
}

.privacy__uncheck-icon {
  position: absolute;
  top: 4px;
  left: 0;
  height: 15px;
  display: none;
  z-index: 11;
  -webkit-transition: display var(--animation);
  transition: display var(--animation);
}

.privacy-wrap .privacy__input:not(:checked) ~ .privacy__uncheck-icon {
  display: block;
}

.privacy-wrap .privacy__input:checked ~ .privacy__check-icon {
  display: block;
}

.form_button {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.form_button:hover, .form_button:focus {
  background-color: #188ce8;
}

/*
  ============================
         HERO section
  ============================
*/
.hero {
  max-width: 1600px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/herobg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  display: block;
}

.hero__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__title {
  color: var(--button-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 0;
  margin: 0;
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

/*
  ============================
         Feauters section
  ============================
*/
.feauters-wrap {
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}

.feauters__post {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feauters__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feauters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.feauters__item {
  display: block;
}

.feauters__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feauters__icon {
  background-repeat: no-repeat;
}

/*
  ============================
         Services section
  ============================
*/
.services {
  position: relative;
  padding-top: 0;
  z-index: 3;
}

.services__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__title {
  color: var(--primary-text-color);
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.services__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 30px;
}

.services__item {
  position: relative;
  width: 100%;
}

.services__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  z-index: 3;
}

/*
  ============================
         Team section
  ============================
*/
.team {
  background-color: #f5f4fa;
}

.team__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__post {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.card__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.member-list {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-soc__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.member-card {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-soc__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: var(--svg-primary-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.card-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.card-soc__link:hover, .card-soc__link:focus {
  fill: var(--button-text-color);
  background-color: var(--primary-color);
}

.card-soc__link:hover .card-soc__icon,
.card-soc__link:focus .card-soc__icon {
  fill: #ffffff;
}

/*
  ============================
         Clients section
  ============================
*/
.clients__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  background-color: #ffffff;
}

.client__link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--svg-primary-color);
  border-radius: 5px;
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--primary-color);
  -webkit-transition: border var(--animation);
  transition: border var(--animation);
}

.client__icon {
  display: block;
  fill: var(--svg-primary-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--primary-color);
}

/*
  ============================
         Footer section
  ============================
*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 93px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ===== Adress Block ===== */
.footer__logo {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-top: 0;
  padding-top: 0px;
  padding-bottom: 25px;
  display: block;
}

.footer__logo--accent {
  color: #2196f3;
}

.adress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress {
  font-style: normal;
  text-decoration: none;
}

.adress__item .link {
  color: var(--contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress__item .map {
  color: var(--button-text-color);
}

/* ===== Social Networks Block ===== */
.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-soc__headline {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-soc__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--primary-color);
}

.footer-soc__icon {
  display: block;
  fill: #ffffff;
}

/* ===== Subscription Block ===== */
.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscription__headline {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  gap: 12px;
}

.subscription__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription__input {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-radius: 4px;
  padding: 12px 13px;
  min-width: 358px;
  height: 50px;
  color: #FFFFFF;
  -webkit-transition: color var(--animation), border var(--animation);
  transition: color var(--animation), border var(--animation);
}
.subscription__input:focus {
  color: #FFFFFF;
  border: 1px solid var(--primary-color);
}
.subscription__input:hover {
  border: 1px solid var(--primary-color);
}

.subscription__btn {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border: none;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.subscription__btn:hover, .subscription__btn:focus {
  background-color: #188ce8;
}
.subscription__btn::after {
  content: "";
  display: block;
  background: url(../images/sendicon.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

/*
  ================================================
         Portfolio filters button section
  ================================================
*/
.portfolio-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
}

.filter__item {
  display: block;
}

.filter__button {
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  min-width: 73px;
  height: 38px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.filter__button:hover, .filter__button:focus {
  color: var(--button-text-color);
  background-color: var(--primary-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.portfolio-card__link:hover, .portfolio-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__link:hover .card-description-wrap,
.portfolio-card__link:focus .card-description-wrap {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card-group {
  position: relative;
  overflow: hidden;
}

.card-description-wrap {
  position: absolute;
  bottom: -0.1%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 23px;
  background-color: rgba(33, 150, 243, 0.9);
  display: block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
}

.card-description__text {
  display: block;
  color: var(--button-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.card-infobox {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card__name {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ===== Slider Button ===== */
.scroll-to-top {
  position: fixed;
  bottom: 105px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  -webkit-animation: slide-top 750ms linear 1500ms infinite alternate both;
          animation: slide-top 750ms linear 1500ms infinite alternate both;
}

.arrow-top {
  fill: #fff;
}/*# sourceMappingURL=main.css.map */