/*
  ============================
         Header section
  ============================
*/

/* =====  HEADER  ===== */
.header {
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 100%;
  }
}

.header__container {
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (max-width: 767px) {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 100%;
  }
}

@import "../sections/header/header-logo";
@import "../sections/header/navigation";
@import "../sections/header/contacts";
