 
  .portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .portfolio-card__link {
    display: block;
    transition: box-shadow var(--animation);
      &:hover,
      &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
      }
  }
  
  .portfolio-card__link:hover .card-description-wrap,
  .portfolio-card__link:focus .card-description-wrap {
    transform: translateY(0);
  }

  .card-group {
    position: relative;
    overflow: hidden;
  }

  .card-description-wrap {
    position: absolute;
    bottom: -0.1%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 23px;
    background-color: rgba(33, 150, 243, 0.9);
    display: block;
    transform: translateY(100%);
    transition: transform var(--animation);
  }
  
  .card-description__text {
    display: block;
    color: var(--button-text-color);
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
  }

  .card-infobox {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-top: 0px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .card__name {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  
  .card__text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
