:root {
    --primary-color: #2196f3;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --button-text-color: #ffffff;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --primary-font-family: "Roboto", sans-serif;
    --item-grid-gap: 30px;
    --header-items-gap: 50px;
    --svg-primary-color: #afb1b8;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }