/* =====  LOGO  ===== */

.header__logo {
    color: #000000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .header__logo--accent {
    color: #2196f3;
  }
  
