/* =====  NAVIGATION  ===== */

.navigation__list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.navigation__item {
  position: relative;
  display: flex;
  top: 50%;
  bottom: 50%;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--primary-color);
  }
}

.navigation__link--current {
  color: var(--primary-color);

  &::after {
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
